.git
.gitignore
.gitattributes
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node_modules
storage/*.key
storage/logs/*
.idea
.vscode
*.swp
*.swo
*.md
tests
phpunit.xml
.styleci.yml
.editorconfig
github_deploy*
